<section class="application-section section" id="leave-an-application">
  <div class="container">
    <div class="application-title">
      <h2 class="application-head">
        Leave an <span class="application-head-span">application</span>
      </h2>
      <p class="application-text">
        Please use the form below to contact us. Enter your name, email, and
        message and we'll get back to you shortly.
      </p>
    </div>
    <div class="application-block">
      <div class="application-pic-info">
        <img
          srcset="./img/application@2x.png 2x, ./img/application.png 1x"
          src="./img/application.png"
          width="492"
          height="392"
          alt="Leave an application image with a girl"
          loading="lazy"
        />
        <h3>1000</h3>
        <p>
          of our online English language lessons! This journey has been full of
          discovery, growth and unforgettable moments, and we are happy to share
          this joyful event with you.
        </p>
      </div>

      <form class="application-form" name="user_application">
        <div class="application-inputs">
          <div class="application-form-field">
            <input
              aria-label="Name"
              class="application-form-input"
              type="text"
              name="user-name"
              id="user-name"
              placeholder="Name"
              pattern="[A-Za-z]{1,32}"
              title="The name must be written in English letters."
              required
            />
          </div>
          <div class="application-form-field">
            <input
              aria-label="Email"
              class="application-form-input"
              type="email"
              name="user-email"
              id="user-email"
              placeholder="Email"
              pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
              title="Enter email for example: name@example.com"
              required
            />
          </div>
          <div class="application-form-field">
            <input
              aria-label="Phone"
              class="application-form-input"
              type="tel"
              name="user-phone"
              id="user-phone"
              placeholder="Phone"
              pattern="[0-9]{12}"
              title="Enter 12 digits, for example: 380123456789"
              required
            />
          </div>
          <div class="application-form-field comment">
            <textarea
              aria-label="Comment"
              class="application-form-comment"
              name="user-comment"
              id="user-comment"
              placeholder="Comment"
              rows="4"
            ></textarea>
          </div>
        </div>

        <h3 class="application-radio-title">Choose a teacher</h3>
        <div class="application-radio">
          <input
            class="visually-hidden"
            type="radio"
            name="teacher"
            id="maria"
            value="Maria"
            aria-labelledby="check-label-maria"
            checked
          />
          <label
            class="application-radio-label"
            for="maria"
            id="check-label-maria"
          >
            <span class="application-radio-input">
              <span class="radio-dot"> </span>
            </span>
            Maria
          </label>
          <input
            class="visually-hidden"
            type="radio"
            name="teacher"
            id="artem"
            value="Artem"
            aria-labelledby="check-label-artem"
          />
          <label
            class="application-radio-label"
            for="artem"
            id="check-label-artem"
          >
            <span class="application-radio-input">
              <span class="radio-dot"> </span>
            </span>
            Artem
          </label>
          <input
            class="visually-hidden"
            type="radio"
            name="teacher"
            id="ilona"
            value="Ilona"
            aria-labelledby="check-label-ilona"
          />
          <label
            class="application-radio-label"
            for="ilona"
            id="check-label-ilona"
          >
            <span class="application-radio-input">
              <span class="radio-dot"> </span>
            </span>
            Ilona
          </label>
          <input
            class="visually-hidden"
            type="radio"
            name="teacher"
            id="volodymyr"
            value="Volodymyr"
            aria-labelledby="check-label-volodymyr"
          />
          <label
            class="application-radio-label"
            for="volodymyr"
            id="check-label-volodymyr"
          >
            <span class="application-radio-input">
              <span class="radio-dot"> </span>
            </span>
            Volodymyr
          </label>
        </div>

        <button class="btn application-btn" type="submit">Send</button>

        <div class="application-form-agreement">
          <p class="application-form-desc">
            By clicking on &ldquo;Send&rdquo; button, you agree to our
            <span>
              <a
                class="application-form-link"
                href="#"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Link to Privacy Policy"
                >Privacy Policy</a
              >
            </span>
            , and allow Promodo to use this information for marketing purposes.
          </p>
        </div>
      </form>
    </div>
  </div>
</section>
