<footer class="footer" id="footer">
  <div class="container">
    <div class="footer-references">
      <div class="footer-info">
        <a href="index.html" class="footer-logo logo">
          english<span class="logo--green">excellence</span>.
        </a>
        <address class="footer-address address">
          <ul class="adress-list">
            <li class="address-item">
              <p class="address-text">Phone number:</p>
              <a href="tel:+380684439426" class="address-link"
                >+380 (68) 443-94-26</a
              >
            </li>
            <li class="address-item">
              <p class="address-text">Address:</p>
              <a
                href="https://maps.app.goo.gl/C5VZF6WsSa5bYScc9"
                class="address-link"
                target="_blank"
                >32a M. Bazhana ave</a
              >
            </li>
          </ul>
        </address>
      </div>
      <ul class="footer-nav">
        <li class="footer-nav-item">
          <a href="#about-us" class="footer-nav-link">About us</a>
        </li>
        <li class="footer-nav-item">
          <a href="#our-lessons" class="footer-nav-link">Our lessons</a>
        </li>
        <li class="footer-nav-item">
          <a href="#teachers" class="footer-nav-link">Teachers</a>
        </li>
        <li class="footer-nav-item">
          <a href="#reviews" class="footer-nav-link">Reviews</a>
        </li>
        <li class="footer-nav-item">
          <a href="#leave-an-application" class="footer-nav-link">Contact us</a>
        </li>
      </ul>
      <ul class="footer-socials socials">
        <li class="socials-item">
          <a href="https://www.facebook.com/goITclub/ " class="socials-link">
            <svg class="socials-svg" width="26" height="26">
              <use href="./img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="socials-item">
          <a href="https://www.instagram.com/goitclub/ " class="socials-link">
            <svg class="socials-svg" width="26" height="26">
              <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="socials-item">
          <a href="https://www.youtube.com/c/GoIT " class="socials-link">
            <svg class="socials-svg" width="26" height="26">
              <use href="./img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-legal">
      <span class="footer-rights">
        &copy;2023 English Excellence. All rights reserved.
      </span>
      <ul class="footer-legal-list">
        <li class="footer-legal-item">
          <a href="#" class="footer-legal-link">Privacy Policy</a>
        </li>
        <li class="footer-legal-item">
          <a href="#" class="footer-legal-link">Terms of Service</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
