<header class="header">
  <div class="container header__bar">
    <a class="logo" href="/"
      >english<span class="logo--green">excellence</span>.</a
    >

    <nav class="nav nav--desktop" aria-label="Primary">
      <ul class="nav__list">
        <li><a href="#about-us">About us</a></li>
        <li><a href="#our-lessons">Our lessons</a></li>
        <li><a href="#teachers">Teachers</a></li>
        <li><a href="#reviews">Reviews</a></li>
        <li><a href="#leave-an-application">Contact us</a></li>
      </ul>
    </nav>

    <ul class="socials header-socials" aria-label="Social media">
      <li class="socials-item">
        <a href="https://www.facebook.com/goITclub/ " class="socials-link">
          <svg class="socials-svg" width="26" height="26">
            <use href="./img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="socials-item">
        <a href="https://www.instagram.com/goitclub/ " class="socials-link">
          <svg class="socials-svg" width="26" height="26">
            <use href="./img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="socials-item">
        <a href="https://www.youtube.com/c/GoIT " class="socials-link">
          <svg class="socials-svg" width="26" height="26">
            <use href="./img/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>

    <button
      class="menu-toggle"
      aria-controls="mobile-menu"
      aria-expanded="false"
      aria-label="Open menu"
    >
      <span class="menu-toggle__line"></span>
    </button>
  </div>
</header>
