<section class="hero section" id="hero">
  <div class="container">
    <div class="hero-content">
      <h1 class="hero-title">
        Discover the joy of learning
        <span class="hero-accent">English</span> with us!
      </h1>
      <a href="#leave-an-application" class="btn hero-btn"
        >Leave an application</a
      >
      <a href="#footer" class="scroll-down" aria-label="Scroll down">
        <svg class="scroll-icon">
          <use href="./img/sprite.svg#icon-angle"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
