<nav id="mobile-menu" class="menu-overlay" aria-hidden="true" aria-label="Mobile">
    <div id="menu-drawer" class="menu-drawer">
        <button class="menu-overlay__close" aria-label="Close menu">✕</button>

        <ul class="menu-overlay__nav">
            <li><a href="#about-us">About us</a></li>
            <li><a href="#lessons">Our lessons</a></li>
            <li><a href="#teachers">Teachers</a></li>
            <li><a href="#reviews">Reviews</a></li>
            <li><a href="#leave-an-application">Contact us</a></li>
        </ul>

        <ul class="socials mobile-socials" aria-label="Social media">
        <li class="socials-item">
            <a href="https://www.facebook.com/goITclub/ " class="socials-link">
            <svg class="socials-svg" width="26" height="26">
                <use href="./img/sprite.svg#icon-facebook"></use>
            </svg>
            </a>
        </li>
        <li class="socials-item">
            <a href="https://www.instagram.com/goitclub/ " class="socials-link">
            <svg class="socials-svg" width="26" height="26">
                <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
            </a>
        </li>
        <li class="socials-item">
            <a href="https://www.youtube.com/c/GoIT " class="socials-link">
            <svg class="socials-svg" width="26" height="26">
                <use href="./img/sprite.svg#icon-youtube"></use>
            </svg>
            </a>
        </li>
        </ul>
    </div>
</nav>