<!-- <div>
  <a class="btn" href="#leave-an-application">Leave an application</a>
</div>

<div class="dark-bg">
  <a class="btn btn-on-dark-bg" href="#leave-an-application"
    >Leave an application</a
  >
</div> -->

<section id="our-lessons" class="section lessons">
  <div class="container">
    <div class="section-head">
      <h2 class="lessons-title">Our <span class="highlight">lessons</span></h2>
      <p class="section-lead">
        Our lessons are carefully structured and interactive, designed to
        promote rapid language acquisition through practical tasks and
        real-world scenarios.
      </p>
    </div>

    <!-- List of plans -->
    <div class="plans-box">
      <ul class="plans">
        <li class="plan">
          <div class="plan-card">
            <h3 class="plan-title">Practice</h3>
            <p class="plan-price">
              <span class="plan-amount">40</span>$
              <span class="plan-period">/ month</span>
            </p>
            <p class="plan-desc">
              This plan offers an opportunity for learners to engage in
              collaborative language exercises and group activities, boosting
              their conversational skills and confidence in using English.
            </p>
            <a class="btn dark-bg" href="#leave-an-application"
              >Leave an application</a
            >
          </div>
        </li>

        <li class="plan plan-featured">
          <div class="plan-card">
            <h3 class="plan-title">Standard</h3>
            <p class="plan-price">
              <span class="plan-amount">70</span>$
              <span class="plan-period">/ month</span>
            </p>
            <p class="plan-desc">
              Our standard package provides a balanced learning approach that
              covers all key areas of English language — reading, writing,
              listening, and speaking. It is a set of basic knowledge and
              skills.
            </p>
            <a class="btn btn-on-dark-bg" href="#leave-an-application"
              >Leave an application</a
            >
          </div>
        </li>

        <li class="plan">
          <div class="plan-card">
            <h3 class="plan-title">Individual</h3>
            <p class="plan-price">
              <span class="plan-amount">99</span>$
              <span class="plan-period">/ month</span>
            </p>
            <p class="plan-desc">
              We offer a tailored learning experience with individualized
              instruction that focuses on a learner’s specific language goals
              and challenges, offering personal feedback.
            </p>

            <a class="btn dark-bg" href="#leave-an-application"
              >Leave an application</a
            >
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
