<section class="section our-teachers-section" id="teachers">
  <div class="container">
    <h2 class="teachers_title">
      Meet our <span class="highlight">teachers</span>
    </h2>

    <p class="teachers_supporting_text">
      Discover our team of dedicated educators, committed to guiding you on your
      journey to English proficiency with personalized and engaging instruction
    </p>
    <ul class="teachers_list">
      <li class="teachers_item">
        <img
          class="teachers_photo"
          srcset="./img/maria@1x.jpg 1x, ./img/maria@2x.jpg 2x"
          src="./img/maria@1x.jpg"
          alt="Maria"
          width="150"
          height="150"
        />
        <div class="teachers_wrapper">
          <h3 class="teachers_name">Maria</h3>
          <p class="teachers_role">
            A seasoned linguist and our primary specialist in beginner-level
            instruction, Maria brings warmth and patience to every class
          </p>
        </div>
      </li>
      <li class="teachers_item">
        <img
          class="teachers_photo"
          srcset="./img/artem@1x.jpg 1x, ./img/artem@2x.jpg 2x"
          src="./img/artem@1x.jpg"
          alt="Artem"
          width="150"
          height="150"
        />
        <div class="teachers_wrapper">
          <h3 class="teachers_name">Artem</h3>
          <p class="teachers_role">
            With his innovative teaching techniques and a focus on interactive
            learning, Artem excels in keeping students engaged and motivated
          </p>
        </div>
      </li>
      <li class="teachers_item">
        <img
          class="teachers_photo"
          srcset="src/img/ilona@1x.jpg 1x, ./img/ilona@2x.jpg 2x"
          src="./img/ilona@1x.jpg"
          alt="Ilona"
          width="150"
          height="150"
        />
        <div class="teachers_wrapper">
          <h3 class="teachers_name">Ilona</h3>
          <p class="teachers_role">
            A specialist in advanced English, Ilona provides intensive
            instruction, ensuring students gain confidence in complex language
            tasks
          </p>
        </div>
      </li>
      <li class="teachers_item">
        <img
          class="teachers_photo"
          srcset="./img/volodymyr@1x.jpg 1x, ./img/volodymyr@2x.jpg 2x"
          src="./img/volodymyr@1x.jpg"
          alt="Volodymyr"
          width="150"
          height="150"
        />
        <div class="teachers_wrapper">
          <h3 class="teachers_name">Volodymyr</h3>
          <p class="teachers_role">
            Our expert in English for specific purposes, Volodymyr tailors his
            approach to meet individual career and industry-specific language
            needs
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
