<section class="proposal-section">
  <div class="container proposal-section-container">
    <h2 class="proposal-section-title">
      Master the <span class="proposal-section-title-span">Language</span> with
      Our English Package!
    </h2>
    <div class="proposal-card-wrapper">
      <div class="proposal-card">
        <h3 class="proposal-card-title">Power of English</h3>
        <ul class="proposal-card-list">
          <li class="proposal-card-item">
            <div class="check-container">
              <svg class="check-mobile" width="8" height="6">
                <use href="./img/sprite.svg#icon-check-s"></use>
              </svg>
              <svg class="check" width="20" height="20">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
            </div>
            <p class="proposal-card-feature">
              Dive into captivating lessons designed to stimulate your
              curiosity.
            </p>
          </li>
          <li class="proposal-card-item">
            <div class="check-container">
              <svg class="check-mobile" width="8" height="6">
                <use href="./img/sprite.svg#icon-check-s"></use>
              </svg>
              <svg class="check" width="20" height="20">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
            </div>
            <p class="proposal-card-feature">
              Learn in a nurturing setting where every student's progress
              matters.
            </p>
          </li>
          <li class="proposal-card-item">
            <div class="check-container">
              <svg class="check-mobile" width="8" height="6">
                <use href="./img/sprite.svg#icon-check-s"></use>
              </svg>
              <svg class="check" width="20" height="20">
                <use href="./img/sprite.svg#icon-check"></use>
              </svg>
            </div>
            <p class="proposal-card-feature">
              Experience the satisfaction of real progress as your language
              skills and confidence grow with every session.
            </p>
          </li>
        </ul>
        <button class="btn proposal-card-btn">Leave an application</button>
        <img
          srcset="
            ./img/tall-stack-of-books-1x.png 1x,
            ./img/tall-stack-of-books-2x.png 2x
          "
          src="./img/tall-stack-of-books-1x.png"
          alt="A tall stack of books"
          class="proposal-card-books-img"
          width="214"
          height="263"
        />
      </div>
    </div>
  </div>
</section>
