/*------------------------------------*\
  #MOBILE STYLES
\*------------------------------------*/

.hero {
  position: relative;
  overflow: hidden;
  padding-top: 8px;
}

.hero .container {
  height: 100%;
  padding: 0;
}

.hero-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 40px;
  height: 667px;
  padding: 0 20px;
  background-image:
    linear-gradient(357deg, rgba(0, 0, 0, 0.4) 39.23%, rgba(0, 0, 0, 0) 66.28%),
    url('../img/hero-mobile-1x.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px;
}

@media (min-resolution: 2dppx) {
  .hero-content {
    background-image:
      linear-gradient(
        357deg,
        rgba(0, 0, 0, 0.4) 39.23%,
        rgba(0, 0, 0, 0) 66.28%
      ),
      url('../img/hero-mobile-2x.jpg');
  }
}

.hero-title {
  font-weight: 700;
  font-size: 38px;
  line-height: 1.05;
  color: var(--white);
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hero-accent {
  color: var(--light-green);
  position: relative;
}

.hero-accent::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 8px;
  background: var(--light-green);
  border-radius: 8px;
  z-index: -1;
}

.hero-btn {
  margin-bottom: 72px;
}

.scroll-down {
  position: absolute;
  bottom: 14px;
  right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: var(--white);
  transition: background-color var(--trans-norm);
  cursor: pointer;
}

.scroll-down:hover,
.scroll-down:focus {
  background-color: var(--green);
}

.scroll-icon {
  width: 16px;
  height: 16px;
  fill: var(--green);
  transition: fill var(--trans-norm);
}

.scroll-down:hover .scroll-icon,
.scroll-down:focus .scroll-icon {
  fill: var(--white);
}

/*------------------------------------*\
  #TABLET STYLES
\*------------------------------------*/

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 32px;
  }

  .hero-content {
    height: 793px;
    justify-content: center;
    align-items: start;
    gap: 32px;
    padding: 0 32px;
    background-image:
      linear-gradient(
        96deg,
        rgba(0, 0, 0, 0.4) 36.36%,
        rgba(0, 0, 0, 0) 51.43%
      ),
      url('../img/hero-tablet-1x.jpg');
    border-radius: 30px;
  }

  @media (min-resolution: 2dppx) {
    .hero-content {
      background-image:
        linear-gradient(
          96deg,
          rgba(0, 0, 0, 0.4) 36.36%,
          rgba(0, 0, 0, 0) 51.43%
        ),
        url('../img/hero-tablet-2x.jpg');
    }
  }

  .hero-title {
    font-size: 60px;
    line-height: 1.17;
    max-width: 490px;
    text-align: left;
  }

  .hero-accent::after {
    height: 12px;
  }

  .hero-btn {
    margin-bottom: 0;
  }

  .scroll-down {
    bottom: 32px;
    right: 32px;
    width: 48px;
    height: 48px;
  }

  .scroll-icon {
    width: 24px;
    height: 24px;
  }
}

/*------------------------------------*\
  #DESKTOP STYLES
\*------------------------------------*/

@media screen and (min-width: 1280px) {
  .hero {
    padding-top: 16px;
    padding-bottom: 96px;
  }

  .hero-content {
    height: 600px;
    padding: 0 64px;
    background-image:
      linear-gradient(
        96deg,
        rgba(0, 0, 0, 0.4) 36.36%,
        rgba(0, 0, 0, 0) 51.43%
      ),
      url('../img/hero-desktop-1x.jpg');
    border-radius: 30px;
  }

  @media (min-resolution: 2dppx) {
    .hero-content {
      background-image:
        linear-gradient(
          96deg,
          rgba(0, 0, 0, 0.4) 36.36%,
          rgba(0, 0, 0, 0) 51.43%
        ),
        url('../img/hero-desktop-2x.jpg');
    }
  }

  .hero-title {
    font-size: 60px;
    max-width: 564px;
  }

  .hero-accent::after {
    height: 16px;
  }

  .scroll-down {
    bottom: 40px;
    right: 64px;
  }
}
