.socials {
}
.socials-list {
	display: flex;
	gap: 12px;
}
.socials-item {
}
.socials-link {
	display: block;
	width: 42px;
	height: 42px;
	padding: 8px;
	border-radius: 10px;
	border: 1px solid rgba(var(--white-rgb), 0.1);
	transition: border-color var(--trans-norm) ;
}
.header-socials .socials-link {
	border-color: rgba(var(--black-rgb), 0.1);
}
.mobile-socials .socials-link {
	border-color: rgba(var(--white-rgb), 0.1);
}
.footer-socials .socials-svg,
.mobile-socials .socials-svg {
	fill: var(--white);
	transition: fill var(--trans-norm);
}
.socials-link:hover, .socials-link:focus {
	border-color: rgba(var(--green-rgb), 0.1);
}

.socials-link:hover > .socials-svg, .socials-link:focus > .socials-svg{
	fill: var(--green);
}

.mobile-socials .socials-link:hover, .socials-link:focus{
	border-color: rgba(var(--black-rgb), 0.1);
}

.mobile-socials .socials-link:hover > .socials-svg, .socials-link:focus > .socials-svg{
	fill: var(--black);
}

@media only screen and (min-width: 768px){
	.socials-link {
		width: 44px;
		height: 44px;
	}
	
	.socials-svg{
		width: 28px;
		height: 28px;
	}
}