.socials {
}
.socials-list {
	display: flex;
	gap: 12px;
}
.socials-item {
}
.socials-link {
	display: block;
	width: 42px;
	height: 42px;
	padding: 8px;
	border-radius: 10px;
	border: 1px solid rgba(var(--white-rgb), 0.1);
	transition: border-color var(--trans-norm) ;
}
.socials-svg{
	fill: var(--white);
	transition: fill var(--trans-norm);
}
.socials-link:hover, .socials-link:focus{
	border-color: rgba(var(--green), 0.1);
	fill: var(--green);
}

.socials-link:hover > .socials-svg, .socials-link:focus > .socials-svg{
	fill: var(--green);
}