.reviews-heading {
  font:
    700 32px / 36px 'Manrope',
    sans-serif;
  letter-spacing: -0.02em;
  text-align: center;
  color: #121417;
  margin-bottom: 16px;
}

.highlight {
  position: relative;
  display: inline-block;
}

.highlight::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.1em;
  width: 100%;
  height: 0.5em;
  background-color: #bee8cc;
  border-radius: 8px;
  z-index: -1;
}

.reviews-supporting-text {
  font:
    400 14px/24px 'Manrope',
    sans-serif;
  text-align: center;
  color: rgba(18, 20, 23, 0.5);
  max-width: 647px;
  margin-bottom: 40px;
}

/* Планшет */
@media (min-width: 768px) {
  .reviews-supporting-text {
    width: 704px;
    margin: 0 auto 64px auto;
    font-size: 18px;
  }
}

/* Десктоп */
@media (min-width: 1280px) {
  .reviews-supporting-text {
    width: 886px;
  }
}

.students-wrapper {
  overflow: hidden;
  width: 100%;
}

.students-list {
  width: calc(300% + 64px);
  display: flex;
}

@media (max-width: 767px) {
  .students-list {
    flex-wrap: nowrap;
    gap: 32px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .students-list {
    flex-wrap: nowrap;
    gap: 32px;
  }
}

@media (min-width: 1280px) {
  .students-list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 32px;
    justify-content: center;
  }
}
.student-item {
  width: 100%;
}
.student-card {
  width: 100%;
  background-color: var(--gray);
  border-radius: 16px;
  padding: 20px;
  box-sizing: border-box;
}

.student-label {
  width: 100%;
  background-color: #4dc274;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 14px;
  gap: 8px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.student-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.student-name {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #ffffff;
  margin: 0;
}

.student-role {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
}

.student-review {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
  color: rgba(18, 20, 23, 0.5);
  max-width: 267px;
  margin: 0 auto;
}
@media (min-width: 375px) {
  .student-card {
    height: 278px;
  }
}

@media (min-width: 768px) {
  .students-list {
    width: 1069px;
  }
  .student-card {
    width: 336px;
    height: 326px;
    padding: 32px 16px;
  }

  .student-label {
    margin-bottom: 32px;
  }

  .student-review {
    font-size: 16px;
    width: 272px;
  }
}
@media (min-width: 1280px) {
  .students-list {
    width: 1024px;
  }
  .student-card {
    width: 320px;
    height: 326px;
    padding: 32px 16px;
  }
  .student-review {
    width: 256px;
    font-size: 14px;
  }
}
